.section {
    float:left;
    width:100%;
    clear: both;
}

.left {
    float:left;
}

.right {
    float:right
}

.menu {
    display: block;
    clear: both;
    list-style: none;
}

.menu li {
    float:left;
    margin:0 10px 0 10px;
}

.grid .row {
    float:left;
    width:100%;
    clear:both;
}

.grid .row .col-1 {
    float:left;
    width:100px;
}

.grid .row .col-2 {
    float:left;
    width:200px;
}

.grid .row .col-3 {
    float:left;
    height: 20%;
    width:100%;
}

  .grid .row .col-x {
        float: left;
        height: 20%;
        width: 100%;
        height :1em;
        margin :1em;
        padding :1em;
    }

.field-validation-error {
    color: red;
}

.b {
    font-weight:bold;
}